<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title><%= pagename %></title>
        <link rel="icon" type="image/x-icon" href="public/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <%- include('includes/nav') %>
        <!-- Masthead-->
        <section class="signup-section" id="signup">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <h3>Books Section</h3>
                        <% if(typeof(message) != 'undefined'){%>
                            <h4 name="message" style="color: green;"><%-message%></h4>
                        <%}%>
                        <div class="nav-link">
                            <button style="background-color: green; border: none;">
                                <a style="color: black; text-decoration: none; text-overflow: ellipsis;" name="addBook" href="/books/addBook" alt="Add a Book" title="Add a Book">Add a Book</a>
                            </button>
                            <hr>
                        </div>
                        <div class="container px-4 px-lg-5">
                            <hr>
                            <% if(typeof(data) != 'undefined') {data.map(book => {%>
                             <span>
                                <button style="background-color: aqua; border: none;">
                                    <a style="color: black; text-decoration: none; text-overflow: clip;" name="editBook" href="/books/editBook/<%- book._id %>">Edit This Book</a>
                                </button>
                             </span>
                             <span style="float: right;">
                                <button style="background-color: red; border: none;">
                                    <a style="color: black; text-decoration: none; text-overflow: clip;" name="deleteBook" href="/books/deleteBook/<%- book._id %>">Delete This Book</a>
                                </button>
                             </span>
                             <p>Title: <%- book.title %></p>
                             <p>Author: <%- book.author %></p>
                             <p>ISBN: <%- book.ISBN %></p>
                             <p>Number Of Pages: <%- book.noOfPages %></p>
                             <p>Price: <%- book.price%></p>
                             <p>Published Year: <%- book.yearPublished %></p>
                             <hr>
                            <%})}%>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <%- include('includes/footer') %> 
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
